@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Arial, san-serif;
  --color-soft-milk: #F5F5F5; /* light mode background */
  --color-milk-white: #FEFCFF; /* light mode preview background */
  --color-soft-black: #1C1C1E; /* dark mode background */
  --color-deep-charcoal: #121212; /* dark mode previewbackground */
}

@layer components {
  .section-header {
    @apply text-3xl text-shadow-lg pb-2 text-soft-black dark:text-soft-milk;
  }
  .form-input {
    @apply bg-white dark:bg-soft-black text-[#525865] dark:text-soft-milk rounded-sm border border-[#d1d1d1] dark:border-[#3a3a3a] text-[1em] leading-[1.45] outline-none p-1 px-3 transition-all duration-180 ease-out;
    font: inherit;
    box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
  }

  .dark .form-input {
    @apply bg-[#1f2023] text-soft-milk border-[#3a3a3a];
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.035);
  }

  .form-input:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }

  .dark .form-input:hover {
    @apply bg-[#232428] border-[#666666];
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
  }

  .form-input:focus {
    @apply text-[#4b515d] border-[#B8B6B6];
    box-shadow:
      inset 1px 2px 4px rgba(0, 0, 0, 0.01),
      0px 0px 8px rgba(0, 0, 0, 0.2);
  }

  .dark .form-input:focus {
    @apply text-soft-milk border-[#6b7280] dark:bg-[#1a1a1b];
    box-shadow:
      inset 1px 2px 4px rgba(255, 255, 255, 0.04),
      0px 0px 8px rgba(255, 255, 255, 0.12);
  }

    .form-label {
    @apply grid grid-cols-2 gap-1 items-center text-soft-black dark:text-soft-milk text-sm;
  }

  .form-label-text {
    @apply font-bold text-soft-black dark:text-soft-milk;
  }
}

body {
  margin: 0;
}