@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Arial, san-serif;
  --color-soft-milk: #F5F5F5; /* light mode background */
  --color-milk-white: #FEFCFF; /* light mode preview background */
  --color-soft-black: #1C1C1E; /* dark mode background */
  --color-deep-charcoal: #121212; /* dark mode previewbackground */
}

body {
  margin: 0;
}